@import "libs/rdforms/view/bootstrap/base.css";
@import "libs/entryscape-commons/list/list.css";
@import "libs/entryscape-commons/errors/errors.css";
@import "libs/entryscape-commons/query/style.css";
/*@import "libs/bootstrap/dist/css/bootstrap.min.css";*/
@import "libs/selectize/css/selectize.bootstrap3.css";
@import "libs/leaflet/dist/leaflet.css";
@import "libs/chartist/dist/chartist.min.css";

.entryscape .rdformsPresenter .rdformsField {
    background: transparent;
}

.headLess>*>*>.entryList>tbody::after {
    content: "-";
    display: table-row;
    line-height: 1em;
    background: white;
    color: white;
}

.headLess>*>*>.entryList>tbody>tr>td {
    border-top: 0px;
}

.headLess>*>*>.entryList>tbody {
    border-top: 1px solid #ddd;
}
.headLess>*>*>.entryList>tbody>tr:last-child>td {
    border-bottom: 1px solid #ddd;
}

/* Error code style */
.entryscape-boot-error {
    color: red;
    text-decoration: underline;
    overflow: hidden;
}

.entryscape-boot-error:hover {
    color: darkred;
    cursor: pointer;
    overflow: visible;
}


/* specific layout */

.entryList .vmiddle.entryControls {
    vertical-align: top;
}

.escoList .table.entryList > tbody:nth-child(odd),
.escoList .table.entryList > tbody:nth-child(even):not(:hover),
.escoList .table.entryList > tbody:hover {
    background: rgb( 242, 241, 237);
}

.entryList .entryRow .entryControls button {
    visibility: visible;
}

.tema {
    padding: 3px 10px;
    border: 1px solid lightgrey;
    background: white;
    margin-right: 5px;
    line-height: 30px;
}

.viewMetadata {
    margin: 0px 15px;
}

.formats {
    margin: 0px 15px;
}
.organisation {
    float:right;
    font-size:smaller;
    margin-top: 5px;
}

.expanded .rowhead {
    max-height: 800px;
}

.rowhead {
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.5s linear 0s;
}

.selectize-control.multi .selectize-input > div.item {
    padding: 2px 4px;
}

.selectize-control.multi .selectize-input .group {
    padding-right: 5px;
}

.selectize-control.multi .selectize-input .fa-remove {
    padding-left: 5px;
}

.multiplePages .entryPaginationFiller {
    display: none !important;
}

.block_facet h3 {
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
    margin: 20px 0px 0px 0px;
}

.block_facet ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.block_facet li {
    line-height: 27px;
    display: block;
    padding: 2px 33px 2px 10px;
    cursor: pointer;
    position: relative;
}
.block_facet li.selected {
    background: white;
    cursor: default;
}

.block_facet li:hover {
    background: white;
}

.block_facet>button {
    margin-right: 10px;
}

.block_facet li>button {
    position: absolute;
    top: -2px;
    right: 0px;
    padding: 4px 10px;
}

.leaflet-container img.leaflet-marker-icon,
.leaflet-container img.leaflet-marker-shadow {
    background-color: transparent !important;
}

.leaflet-container img {
    border-width: 0px !important;
    padding: 0px !important;
}

.popover-title {
    text-overflow: ellipsis;
    overflow: hidden;
}
.popover-content {
    font-size: small;
}

.occurence {
    margin-left: 6px;
}

/*---Legend specific css below ---*/

.ct-chart-donut .ct-label, .ct-chart-pie .ct-label {
    font-size: large;
}

.ct-label {
    font-size: large;
    font-size: 16px;
    color: black;
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    margin-top: 16px;
    overflow-y: auto;
    height: 100%;
}
.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}
.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
    margin-top: 4px;
}
.ct-legend li.inactive:before {
    background: transparent;
}
.ct-legend.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
}
.ct-legend.ct-legend-inside li{
    display: block;
    margin: 0;
    text-align: left;
}
.ct-legend .ct-series-0:before {
    background-color: #d70206;
    border-color: #d70206;
}
.ct-legend .ct-series-1:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}
.ct-legend .ct-series-2:before {
    background-color: #f4c63d;
    border-color: #f4c63d;
}
.ct-legend .ct-series-3:before {
    background-color: #d17905;
    border-color: #d17905;
}
.ct-legend .ct-series-4:before {
    background-color: #453d3f;
    border-color: #453d3f;
}

.ct-legend .ct-series-5:before {
    background-color: #59922b;
    border-color: #59922b;
}

.ct-legend .ct-series-6:before {
    background-color: #0544d3;
    border-color: #0544d3;
}

.ct-legend .ct-series-7:before {
    background-color: #6b0392;
    border-color: #6b0392;
}

.ct-legend .ct-series-8:before {
    background-color: #f05b4f;
    border-color: #f05b4f;
}

.ct-legend .ct-series-9:before {
    background-color: #dda458;
    border-color: #dda458;
}

.ct-legend .ct-series-10:before {
    background-color: #eacf7d;
    border-color: #eacf7d;
}

.ct-legend .ct-series-11:before {
    background-color: #86797d;
    border-color: #86797d;
}

.ct-legend .ct-series-12:before {
    background-color: #b2c326;
    border-color: #b2c326;
}